.vs/ConsoleApplication2/v16
.vscode
x64/Debug
.vs/ConsoleApplication2/v16/Browse.VC.db
.vs/ConsoleApplication2/v16/Browse.VC.db-shm
.vscode/tasks.json
.vs/ConsoleApplication2/v16/Browse.VC.db
.vs/ConsoleApplication2/v16/ipch/AutoPCH/d0f5c928ed657321/CONSOLEAPPLICATION2.ipch
